<mat-toolbar color="primary">
    <button mat-icon-button aria-label="home" routerLink="/">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
      <p>Is user login: {{isUserLogin | async}}</p>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="home" routerLink="login">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="login"></mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>
